#site-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
  width: 20%;
}

li a, .dropbtn {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

#main-body div {
  font-family: Raleway; 
  font-size: 10.85em; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 1.9em;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin: 0 0 1.4em;
}

span {
   color: #2F5597;
   font-weight: bold;
}

blockquote.colour-quote p {
  font-size: 22px;
  line-height: 35px;
  font-style: italic;
  font-family: 'Raleway';
  letter-spacing: 1px;
  color: #666;
  font-weight: 300;
  margin-top: -50px;
}
blockquote.colour-quote {
  position: relative;
  border-left: none;
}
/*Quotation Mark*/
blockquote.colour-quote:before {
  content: "\201C";
  font-size: 175px;
  font-family: 'Raleway';
  background: -webkit-linear-gradient(180deg, #119ad7 60%, #263C67 40%);/*Change the Colours here*/
  -webkit-background-clip: text;
  color: transparent;
}
/*Author*/
.colour-author {
  padding-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1em;
}
/*Source of Quote*/
.colour-org {
  padding-left: 20px;
  font-size: 12px;
  font-style: italic;
  line-height: 1em;
}
/*Mobile Settings Add CSS Class colour-wrap to Text Module*/
@media all and (min-width: 700px) {
.colour-wrap {
  float: left;
  margin: 20px 20px 20px -10%;
}
blockquote.colour-quote {
  padding: 0 20px;
  max-width: 300px;
}
